/*#product_matrix_form  .row_background li,#product_matrix_form ul.column_background > li:first-child,#product_matrix_form  ul.last_row_background > li:first-child {
    font-weight: 600;     
    border:none;
    text-align:left;
}*/

@media only screen and (min-width:992px) and (max-width:1280px)
{
    .zestard-productmatrix {
        width: 100%;
        overflow: auto;
    }
}

@media only screen and (max-width:991px)
{
    /*   #PageContainer #shopify-section-product-template .grid.product-single .medium-up--one-half {
        width: 100%;
    }*/

    .zestard-productmatrix {
        width: 100%;
        overflow: auto;
    }
    .show_price
    {
        font-size: 9px !important;
    }

    .inventory_quantity
    {
        font-size: 9px !important;
    }
}

